name: Service-3-CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Run Tests
      run: mvn test --file Dienst-3/userprofile_auth_app/pom.xml

    - name: Build with Maven
      run: mvn -B package --file Dienst-3/userprofile_auth_app/pom.xml
